
@{
    ViewBag.Title = "Error500";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ocurrio un error grave</h2>
<div>
    <p>Ha surgido un error, que no permite visualizar la pagina,  contecte con el administrador del sistema
        para informarle del problema.
    </p>
    <button class="btn btn-primary" type="button" onclick="window.location = document.location.origin + '/BuroFactor'">
        <i class="large material-icons">replay</i>
    </button>


</div>

