
@{
    ViewBag.Title = "Error404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Acceso denegado</h2>

<div>
    <p>No tienes acceso para visualizar la pagina</p>
    <button class="btn btn-primary" type="button" onclick="window.location = document.location.origin + '/BuroFactor'">
        <i class="large material-icons">replay</i>
    </button>

</div>
