
@{
    Layout = null;
}

<div>

    <div class="modal-header" style="color: white;
        text-align: right;">
        <button class="btn btn-warning" type="button" ng-click="salir()">Salir</button>
    </div>
    <div class="modal-body" id="modal-body" style="color: white;
        text-align: right;
        background-color:white;
        padding:0px">
        <iframe ng-src="{{url}}" width="1244" height="800"></iframe>
    </div>

</div>

